/* Your Plugin CSS */

:root {
  [data-framer-theme="dark"] {
    --vendyx-bg: #FFF;
    --vendyx-foreground: #000;
  }
  [data-framer-theme="light"] {
    --vendyx-bg: #000;
    --vendyx-foreground: #FFF;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  height: 100vh;
  padding: 16px;
}

